.App {
  text-align: center;
}

.App-logo {
  height: 190px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 36px;
  color: white;
}

.App-link {
  color: #61dafb;
}
